@import "tailwindcss";

.debug-box {
  @apply text-black fixed bottom-0 right-0  bg-white/80 z-50 p-2 m-2 rounded-xl shadow overflow-auto border border-black;
  max-width: 50vw;
  max-height: 50vh;
  white-space: pre;
}

.slide-in {
  animation: 0.5s ease-in-out slide-in-animation,
    0.5s ease-in-out forwards fade-in-animation;
  opacity: 0;
  animation-delay: calc(var(--order) * 300ms);
}

@keyframes slide-in-animation {
  0% {
    transform: translateX(-40%);
    pointer-events: none;
  }
  100% {
    transform: none;
    pointer-events: all;
  }
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f3ecdc;
  scrollbar-gutter: stable;
}
