@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body #app {
  @apply bg-gradient-to-r from-gray-900 to-gray-500 relative;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* Para IE y Edge */
    scrollbar-width: none; /* Para Firefox */
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Para navegadores WebKit */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #ff7f50;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #ff5722;
}

.debug-box {
  @apply text-black fixed bottom-0 right-0 bg-white bg-opacity-100 z-50 p-2 m-2 rounded-xl shadow overflow-auto border border-black;
  max-width: 50vw;
  max-height: 50vh;
  white-space: pre;
}

.homeBox {
  @apply bg-white shadow-lg p-10 w-full max-w-6xl;
}

.slide-in {
  animation: 0.5s ease-in-out slide-in-animation,
    0.5s ease-in-out forwards fade-in-animation;
  opacity: 0;
  animation-delay: calc(var(--order) * 300ms);
}

@keyframes slide-in-animation {
  0% {
    transform: translateY(30%);
    pointer-events: none;
  }
  100% {
    transform: none;
    pointer-events: all;
  }
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
